.landing-main-container {
  margin: 0;
  padding: 0;
  display: grid;
  width: 1172px;
  grid-template-columns: auto auto;
  margin-left: 147px;
  margin-right: 121px;
  height: 100vh;
}

.logo-container {
  position: absolute;
  width: 101px;
  height: 97px;
  left: 122px;
  top: 78px;
}

.heading-text {
  position: absolute;
  width: 168px;
  height: 53px;
  left: 225px;
  top: 98px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #e85a4f;
}
.desc-container-upper {
  position: absolute;
  width: 527px;
  height: 320px;
  left: 147px;
  top: 254px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;

  color: #1a1a1d;
}
.desc-container-lower {
  position: absolute;
  width: 523px;
  height: 173px;
  left: 151px;
  top: 581px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;

  color: #1a1a1d;
}
.desc-container > p {
  color: black;
  font-size: 40px;
}
.main-heading {
  font-weight: 700;
  font-size: 50px;
  color: var(--heading);
}
.sub-heading {
  color: var(--heading);
  font-size: 50px;
}

.logo-large-container {
  position: absolute;
  height: 548px;
  width: 489px;
  left: 830px;
  top: 238px;
  border-radius: 0px;
}
.footer {
  position: absolute;
  width: 220px;
  height: 59px;
  left: 1098px;
  top: 873px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;

  color: #bebcb0;
}
.github-icon {
  position: absolute;
  height: 40px;
  width: 40px;
  left: 147px;
  top: 883px;
  border-radius: 0px;

  background-image: url("../assets/icons/github.svg");
}
.search-page {
  position: absolute;
  width: 217.5px;
  height: 64px;
  left: 1101px;
  top: 87px;

  background: #e85a4f;
  border-radius: 10px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 60px;
  text-align: center;

  color: #eae7dc;
}
a {
  color: #e98074;
}
